body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.hero {
  background-color: #007bff;
  color: #fff;
  padding: 40px 20px;
  text-align: center;
  border-radius: 8px;
  margin-bottom: 20px;
}

.hero h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.hero p {
  font-size: 18px;
}

.converter {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.converter form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

.input,
.submit-button {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  min-width: 150px;
  /* Adjust as needed */
}

select.input {
  min-width: 120px;
  /* Adjust the width of the dropdown */
  background-color: #f0f0f0;
  color: #333;
}

input.input {
  width: 100px;
  /* Adjust the width of the input field */
  background-color: #f0f0f0;
  color: #333;
}

.submit-button {
  padding: 8px 16px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #218838;
}

.result {
  margin-top: 20px;
  font-size: 18px;
  color: #333;
}

.error {
  color: #ff0000;
  margin-top: 10px;
}

.addtional-data {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.addtional-data h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.addtional-data p {
  font-size: 16px;
  color: #555;
}